<html>
<head>
    <title>SSH Terminal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/fullscreen/fullscreen.min.css" />
</head>

<body>
<div id="terminal"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/fit/fit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/attach/attach.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/webLinks/webLinks.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/search/search.min.js"></script>

<script>
  const container = document.getElementById('terminal');
  container.innerHTML = ""
  // load addon
  Terminal.applyAddon(attach);
  Terminal.applyAddon(fit);
  Terminal.applyAddon(webLinks);
  Terminal.applyAddon(search);
  // The terminal
  const term = new Terminal();
  term.open(container);
  // Open the websocket connection to the backend
  const protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://';
  const port = location.port ? `:${location.port}` : '';
  const socketUrl = `${protocol}${location.hostname}${port}/v1/shell`;
  const socket = new WebSocket(socketUrl);
  // Attach the socket to the terminal
  socket.onopen = (ev) => { term.attach(socket); };

</script>
</body>
</html>
